{% extends 'base.html.twig' %}


 {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/accueil.css') }}">
{% endblock %}

{% block title %}Accueil
{% endblock %}


{% block body %}

	<header>
		<div class="logo-place">
			<a href="{{ path('app_accueil') }}" title="Accueil">
				<img src="{{ asset('images/logo.png') }}" alt="Logo"/>
			</a>
		</div>
		<i class="bi bi-list"></i>
		<nav class="nav-place">
			<ul>
				<li><a href="{{ path('app_register') }}">Inscription</a></li>
				<li><a href="{{ path('app_login') }}">Connexion</a></li>
			</ul>
		</nav>
	</header>

		<nav class="nav-place-mobile">
		<i class="bi bi-x-lg"></i>
			<ul>
				<li><a href="{{ path('app_register') }}">Inscription</a></li>
				<li><a href="{{ path('app_login') }}">Connexion</a></li>
			</ul>
		</nav>

	<main>
		<article class="welcome-article">
			<div>
				<h1>Bienvenue sur notre site !</h1>
				<p>Ce site est un exemple de page d'accueil utilisant Twig et Symfony.</p>
				<p>Vous pouvez naviguer vers les pages d'inscription et de connexion en utilisant le menu ci-dessus.</p>
				<p>Pour plus d'informations, consultez la
					<a href="https://symfony.com/doc/current/index.html">documentation Symfony</a>.</p>
			</div>
			<div class="img-article">
				<img src="{{ asset('images/welcome-image.jpg') }}" alt="Image de bienvenue"/>
			</div>

		</article>
	</main>

{% endblock %}
